* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Shrikhand';
    background: #f55791;
}
/* Menu Bar */
nav {
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ed3a7c;
    padding: 0 1rem;
    box-shadow: 0px 1px 10px #000000;
}
nav div a {
    padding: 26px 1rem;
    color: #ffd183;
    transition: 0.5s ease;
}
nav div a:hover {
    background: #e1205f;
    color: #ffffff;
}
nav div.icon-page i{
    font-size: 70px;
    color: #ffd183;
}
nav img {
    width: 75px;
}

/* Main */
/* Address */
.add-title {
    margin: 30px auto;
    color: #e1205f;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}
.add-title h1:before {
    content: "";
    display: block;
    width: 400px;
    height: 5px;
    background: #e1205f;
    left: 320px;
    top: 50%;
    position: absolute;
}
.add-title h1:after {
    content: "";
    display: block;
    width: 400px;
    height: 5px;
    background: #e1205f;
    right: 320px;
    top: 50%;
    position: absolute;
}
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 0 5px #000000;
}
.address .form {
    margin: 20px;
    padding: 30px 30px 0 30px;
    border: 3px solid #e1205f;
    border-radius: 15px;
    box-shadow: 0 0 5px #000000;
}
.address .input-group {
    margin-bottom: 30px;
    position: relative;
}
.address input {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 3px solid #e1205f;
    border-radius: 15px;
    color: #e1205f;
    background: #e1205f;
    font-size: 15px;
    transition: 0.5s;
}
.address label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #ffffff;
    cursor: text;
    transition: 0.3s;
}
.address input:focus~label,
.address input:valid~label {
    color: #e1205f;
    top: -35px;
    font-size: 14px;
}
.address input:focus,
.address input:valid {
    background: #ffffff;
}
.address .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address .row .input-group {
    flex-basis: 48%;
}
/* Products */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px 50px;
    box-shadow: 0 0 8px #000000;
    background: #ffd183;
}.prod-title {
    margin: 50px auto;
    color: #e1205f;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}
.prod-title h1:before {
    content: "";
    display: block;
    width: 400px;
    height: 5px;
    background: #e1205f;
    left: 320px;
    top: 50%;
    position: absolute;
}
.prod-title h1:after {
    content: "";
    display: block;
    width: 400px;
    height: 5px;
    background: #e1205f;
    right: 320px;
    top: 50%;
    position: absolute;
}
.grid {
    display: grid;
    grid-template-columns: 200px 1100px;
}
/* Tabs */
[data-tab-info] {
    display: none;
}  
.active[data-tab-info] {
    display: block;
}
.tabs {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
}  
.tabs span {
    color: #ffffff;
    background: #e1205f;
    padding: 10px 20px;
    margin: 0 10px 10px 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #ed3a7c;
} 
.tabs span:hover {
    color: #ffd183;
    background: #ed3a7c;
    cursor: pointer;
    box-shadow: none;
}
/* Card */
.card-wrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 320px;
    height: auto;
    margin: 0 20px 20px 20px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 0 8px #000000;
}
.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ed3a7c;
    border-radius: 25px 25px 0 25px;
}
.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background: #ed3a7c;
}
.overlay::after {
    width: 41px;
    border-radius: 0 25px 0 0 ;
    background: #ffffff;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #ffffff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ed3a7c;
}
.name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.desc {
    font-size: 18px;
    color: #707070;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.products .grid input {
    width: 40px;
    margin: 0 10px;
    padding: 2px;
    outline: 0;
    border: 3px solid #e1205f;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
    transition: 0.5s;
}
.products .grid label {
    word-spacing: 10px; 
}
.button-submit {
    font-family: 'Shrikhand';
    margin: 20px 0;
    padding: 10px 0;
    color: #e1205f;
    outline: none;
    border: 3px solid #e1205f;
    border-radius: 20px;
    width: 25%;
    cursor: pointer;
    background: linear-gradient(#e1205f 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
}
.button-submit:hover {
    color: #ffffff;
    --p: 100%;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ed3a7c;
    box-shadow: 0 -1px 5px #000000;
}
.iconFooter img {
    width: 100px;
}
.gridFooter {
    margin: 5px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 100px;
    justify-content: center;
    align-items: center;
}
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    font-size: 13px;
    color: #e8e8e8;
    font-family: 'Nunito', sans-serif;
}
.copyright p {
    display: flex;
    text-align: center;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links h3 {
    margin: 0;
    font-size: 20px;
    color: #ffd183;
}
.links div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.links div a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    padding: 7px;
    font-size: 30px;
    color: #ffffff;
    background: #e1205f;
    border-radius: 50%;
    transition: 0.7s ease-in-out;
}
.links div a:hover {
    color: #ed3a7c;
    background: #ffffff;
    transform: rotate(360deg);
}
@media (max-width: 1352px) {
    .products {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        padding: 20px 50px;
        box-shadow: 0 0 8px #000000;
        background: #ffd183;
    }
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .tabs {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 0px 10px 0px;
    }
    .tab-content {
        grid-area: 2 / 1 / 3 / 2;
    }
    .card-wrapper {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 758px) {
    body {
        overflow-x: scroll;
    }

    .products {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        padding: 20px 50px;
        box-shadow: 0 0 8px #000000;
        background: #ffd183;
    }
    .grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .tabs {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 0px 10px 0px;
    }
    .tab-content {
        grid-area: 2 / 1 / 3 / 2;
    }
    .card-wrapper {
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .gridFooter {
        margin: 5px 0px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px 40px;
        justify-content: center;
        align-items: center;
    }
    .iconFooter img{
        width: 70px;
    }
    .copyright {
        font-size: 8px;
    }
    .links h3 {
        font-size: 18px;
    }
    .links div a {
        font-size: 20px;
    }
}